@{
    ViewData["Title"] = "#ANUDING";
    ViewData["Content"] = "这是一个待建设的站点.    By Anuding 2018.9.5";
}

<h1>@ViewData["Content"]</h1>
<p>
    <b>I make my own luck.</b>
</p>
<h3>新文章...</h3>
<div class="row">
    <div class="col-md-2">   </div>
    <div class="col-md-8">
        <article itemscope itemtype="http://schema.org/Article">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model)
                {
                    @Html.Raw(item.title)
                    <br>
                }
            </ul>
        </article>
        @*<script language="javascript">
            document.write("<table border='1' width='100%'");
            for (var i = 1; i <= 100; i++) {
                document.write("<tr>");
                for (var j = 1; j <= 100; j++) {
                    document.write("<td>");
                    document.write(i + "," + j);
                    document.write("</td>");
                }
                document.write("</tr>");
            }
            document.write("</table>");
        </script>*@

    </div>
    <div class="col-md-2">   </div>


</div>