
@{
foreach (var item in Model)
{
    ViewData["Title"] = item.title;
}
}

<h2>@ViewData["Title"]</h2>


@foreach (var item in Model)
    {
<hr />
        string markdown_string = item.content;
        string result = Markdig.Markdown.ToHtml(markdown_string);
@Html.Raw(result)

    }
