@model IEnumerable<ANUDING_SITE.Models.Blog>
@{
    ViewBag.Title = "Articles";
}
<h1>@ViewBag.Title</h1>


@foreach (var item in Model)
{
    string markdown_string = item.content;
    string result = Markdig.Markdown.ToHtml(markdown_string);
    @Html.Raw(result)
}